.form {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    max-width: 700px;
    padding: 1rem;
    width: 100%;
    background: #ffffff;
}

.form__heading {
    background: #4d4d4d;
    color: #797979;
    margin-bottom: .75rem;
    text-align: center;
    padding: .5rem;
}

.form__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:  0 0 100%;
}

.form__inputs,
.form__image {
   flex: 0 0 40%;
}

.form__image {
    order: -1;
    margin-bottom: 1rem;
    padding: 1rem;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .5rem;
}

.form__image img {
    width: 100%;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form__group--gender {
    align-items: center;
    flex-direction: row;
}

.form__group label {
    margin-bottom: .5rem;
}

.form__group--gender label {
    margin: 0;
}

.form__group input {
    border: 0;
}

.form__group input:focus {
    outline: none;
}

.form__group--gender input[type="radio"]:first-of-type {
    margin-right: 1rem;
}

.form__group--name input {
    border-bottom: 1px solid #bcb2b2;
    padding: .35rem 0;
}

.form__group--name input:first-of-type {
    margin-bottom: 1rem;
}

.form textarea {
    border: 1px solid #bcb2b2;
    min-height: 30px;
    padding: .55rem;
    width: calc( 100% - 1.1rem );
}

.form textarea:focus {
    outline: none;;
}

input[type="submit"] {
    box-shadow: inset 0 1px 0 0 #45d6d6;
    background-color: #2cbbbb;
    border: 1px solid #27a0a0;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: .7rem;
    padding: .4rem .9rem;
    text-decoration: none;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background: linear-gradient(to bottom,#34caca 5%,#30c9c9 100%);
    background-color: #34caca;
}

.form__confirm {
    background-color: #bfe9c4;
    color: #368f41;
    display: block;
    text-align: center;
    height: 0;
    left: 50%;
    margin: 0 auto 1.3rem;
    max-width: 400px;
    overflow: hidden;
    transition: height .35s ease-out, padding .35s ease-out;
}

.form__confirm--active {
    padding: .35rem;
    height: auto;
    overflow: visible;
}

.form__group input.invalid-input,
.form__group--gender.invalid-input,
.form textarea.invalid-input {
    border: 1px solid red;
}

@media only screen and ( min-width: 768px ) {
    .form__content {
        flex-direction: row;
    }

    .form__image {
        order: 0;
        margin-bottom: 0;
    }

    .form textarea {
        max-width: 280px;
    }
}
