.form {
    margin-bottom: 1.5rem;
}

.form h1 {
    border-radius: 3px;
    color: var(--main-text-color);
    margin-bottom: 1.5rem;
    padding: .5rem;
    text-align: center;
}

.form__group {
    background: var(--secondary-color);
    border-radius: 3px;
    padding: 1rem;
}

.form__group label,
.form__group input {
    display: block;
}

.form__group label,
.form__group input[type="submit"] {
    flex-basis: 45%;
}

#name-input {
    border: 1px solid var(--support-color);
    border-radius: 3px;
    font-size: .85rem;
    margin-bottom: 1rem;
    padding: .55rem;
    width: 100%;
    transition: border .25s ease-out;
}

#name-input::placeholder {
    color: var(--secondary-text-color);
}

#name-input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--main-color);
    border: 1px solid var(--main-color);
}

.form__group input[type="submit"] {
    width: 100%;
}


@media only screen and ( min-width: 760px ) {
    .form__group {
        display: flex;
        justify-content: space-between;
    }

    #name-input {
        margin: 0;
    }
}
